  #light {
    background-color: #f3ebf6;    
  }  
  #dark {
    background-color: #121212;
    color: #fff;
  }
  #light .main {
    background-color: #fff;
  }  
  #dark .main {
    background-color: #121212;    
  }
  #dark #hero-header {
      color: #fff;
      background-color: #121212;
  }
  #dark #nav-bg{
background-color: #000;
color:#fff
  }
  #dark #desktop-nav-link{
    color: #000;
  }
  #dark #mob-nav-link{
    color: #000;    
  }
  ::selection {    
    background: #270440;
    color: #fff;
  }
  #dark ::selection {
    background-color: #fff !important;   
    color: #000; 
  }
  .switch {    
    width: 100vw;
    height: 100px;    
  }  
  .switch label {
    margin: 10px;
  }  
  #light .switch label {
    color: #000;
  }  
  #dark .switch label {
    color: #fff;
  }
 #dark #scroll-indicate{
  background-color: #000;
 }